
.Checkout-steps{

    .icon{
        font-size:2.4rem;
        margin-bottom:0.2rem;
    }

    .btn{
        font-size: 1.8rem;
        color: var(--primary-color);
    }

    // .btnd{
    //     color: rgb(244, 66, 66);
    // }

}